.border{
    border: 1px solid black;
    margin: 2px;
}

.flex{
    display: flex;
}

.justify-centre{
   justify-content: left;
}

.item-centre{
    align-items:center;
}

.bg-black{
    background-color:black;
    color: white;
}
.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
     
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}
